
<!-- seccion de productos agregados en el carrito -->
<section>
  <div class="w-full max-w-3xl m-auto px-2 last:border-b">
    <h1 class="text-xl font-bold my-8 lg:text-3xl">Shopping Cart</h1>
    <app-list-product-cart [productCarts]="shoppingCart" ></app-list-product-cart>
  </div>
</section>

<!-- total de la compra -->
<ng-container *ngIf="summary; else message">
  <div class="w-full max-w-2xl m-auto p-2 mt-8">
    <blockquote class="bg-gray-100 rounded-xl p-6">
      <app-container-item>
        <ng-container *ngTemplateOutlet="title; context: {$implicit: 'Subtotal'}" ></ng-container>
        <p class="text-base text-gray-700 font-semibold">{{summary.subtotal | currency}}</p>
      </app-container-item>
      <app-container-item >
        <ng-container *ngTemplateOutlet="title; context: {$implicit: 'Shipping'}" ></ng-container>
        <p class="text-base text-gray-700 font-semibold">{{summary.shipment| currency}}</p>
      </app-container-item>
      <app-container-item>
        <ng-container *ngTemplateOutlet="title; context: {$implicit: 'Tax'}" ></ng-container>
        <p class="text-base text-gray-700 font-semibold">{{summary.taxes | currency}}</p>
      </app-container-item>
      <app-container-item>
        <h2 class="text-xl text-gray-500 font-semibold">Order total</h2>
        <p class="text-xl text-gray-700 font-semibold">{{summary.total | currency}}</p>
      </app-container-item>
    </blockquote>
    <button class="w-full text-xl text-white font-medium rounded-md my-8 px-3 py-3 bg-blue-600 hover:bg-blue-700 active:bg-blue-900" (click)="navigate()">
      Checkout
    </button>
    <a routerLink="../products" class="flex items-center justify-center gap-2 hover:cursor-pointer">
      or <span class="text-sky-700 font-medium hover:text-sky-800">Continue Shopping</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 text-sky-700 font-medium">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>
    </a>
  </div>
</ng-container>

<!-- Sin compras en el carrito -->
<ng-template #message >
  <section class="p-6">
    <div class="max-w-sm m-auto h-80 flex flex-col gap-6 items-center justify-center shadow py-5 rounded-md bg-yellow-300">
      <h2 class="text-3xl font-medium text-indigo-900 text-center mb-4"> !oh, there are no products in the cart yet.¡</h2>
      <a routerLink="../products"
        class="flex items-center justify-center gap-2 p-3 rounded-md bg-indigo-700 hover:bg-indigo-800 text-white text-xl font-medium hover:cursor-pointer  ">
        go to the <span>product section</span>
      </a>
    </div>
  </section>
</ng-template>

<ng-template #title let-text>
  <p class="text-base text-gray-500 ">{{text}}</p>
</ng-template>











