
<div class="w-full grid grid-cols-4 border-t py-4 lg:py-10">
  <div class="w-14 h-14 sm:w-24 sm:h-24 lg:w-32 lg:h-32">
    <img class="w-full h-full" [src]="productCart.product.image" alt="image of product">
  </div>
  <div class="col-span-2 sm:grid sm:grid-cols-1">
    <div class="mb-3 sm:grid sm:grid-cols-2">
      <p class="text-sm text-gray-600 font-medium mb-3">{{productCart.product.title}}</p>
      <div class="flex items-center gap-2 sm:flex-col justify-self-end">
        <select name="amount" id="amount" class="border rounded-md w-12" [formControl]="quantity">
          <option value="{{item.value}}" *ngFor="let item of options" >{{item.name}}</option>
        </select>
        <button class="text-blue-500 text-sm font-medium lg:text-base" (click)="remove(productCart.product.id)" >Remove</button>
      </div>
    </div>
    <p class="self-end flex items-center gap-1" *ngIf="productCart.product.rating.count > 0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-green-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
      </svg>
      <span class="text-sm font-medium text-green-500">in stock</span>
    </p>
  </div>
  <p class="text-sm font-semibold justify-self-end lg:text-base" >{{productCart.product.price | currency}}</p>
</div>
