<div class="p-2 space-y-10 lg:space-y-28">
  <div>
    <h1 class="uppercase font-medium">404 not found</h1>
  </div>
  <section class="space-y-10 sm:flex sm:flex-row sm:justify-center sm:gap-12">
    <div class="max-w-sm m-auto sm:m-0">
      <img src="./../../../assets/images/Scarecrow.png" alt="image not found">
    </div>
    <div class="max-w-sm m-auto space-y-7 sm:m-0 md:max-w-md ">
      <h2 class="text-5xl font-semibold md:text-6xl">I have bad news for you</h2>
      <p class="text-lg text-slate-600 sm:text-2xl">The page you are looking for night be removed or is temporarily unaavailable.</p>
      <a class="block" routerLink="../home">
        <button class="uppercase text-sm h-16 w-52 bg-slate-800 text-white hover:text-red-600 hover:font-medium ">back to homepage</button>
      </a>
    </div>
  </section>
</div>
